.sideBar{

    padding-top:12; 
    justify-content: center;

}
.bars{

    margin: 15px;
    margin-left: 32px;
}
.sideBarStyleIn{

    list-style: none;
    animation: fadeIn 1.5s;
    /* animation: fadeOut 1.5s; */
}

.sideBarStyleOut{

    list-style: none;
    animation: fadeOut 1.5s;
    /* animation: fadeOut 1.5s; */
}

.sideBarStyleIn li{

    padding: 10px;

}
@keyframes fadeIn{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }

}
@keyframes fadeOut{

    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }

}

